body
{
    background-color        : #222229;
    color                   : #DDDDDF;
    overflow-y              : scroll;
}

a
{
    color                   : #75C9EF !important;
}

h1, h2, h3, h4, h5, h6
{
    color                   : #DDDDDF !important;
}

h4
{
    border-color            : #555559 !important;
}

#doc
{
    min-width               : 900px;
}

#hd
{
    background              : #333339 !important;
    border-bottom-color     : #444449 !important;
    box-shadow              : none !important;
}

#classdocs .item
{
    border-style            : none !important;
}

.apidocs .tabview .yui3-tabview-panel
{
    background-color        : transparent !important;
}

.apis a:hover, .apis a:focus,
.yui-overrride .yui3-skin-sam .yui3-tab-selected .yui3-tab-label,
.yui-overrride .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus,
.yui-overrride .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover
{
    color                   : #FFFFFF !important;
}

.apidocs .flag,
.apidocs .index-item .flag
{
    display                 : inline-block !important;
    padding                 : 2px   !important;
    color                   : white !important;
    background-color        : #448849 !important;
}

.apidocs .flag:last-child,
.apidocs .index-item .flag:last-child
{
    margin-right            : 0 !important;
}

p code, p kbd, p samp, li code
{
    background-color        : transparent !important;
    border-style            : none !important;
}
.param-name.optional
{
    border-style            : none !important;
}

.method.item
{
    padding-left             : 0 !important;
}

.meta
{
    padding                 : 0 !important;
}

.meta-content
{
    margin                  : 10px;
}

.apidocs .tabview .yui3-tabview-panel
{
    background-color        : #333338 !important;
}

#api-tabview-filter, #api-tabview-panel
{
    background-color        : #33333B !important;
    border-color            : #444449 !important;
}

.blue-method-syntax
{
    background-color        : #44444D !important;
    margin-bottom           : 0.25em  !important;
}

.yui-overrride .yui3-skin-sam .yui3-tab-label
{
    background-color        : #33333A !important;
    color                   : #FFFFFF !important;
}

.yui3-skin-sam .yui3-tab-selected .yui3-tab-label, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:focus, .yui3-skin-sam .yui3-tab-selected .yui3-tab-label:hover
{
    background-color        : #5585BA !important;
}


.type
{
    color                   : #77BBFF !important;
}

#bd.loading .apidocs,
#api-list.loading .yui3-tabview-panel {
  background-color: #222229 !important;
}


#api-filter
{
    background-color        : #222229 !important;
    color                   : #DDDDDD !important;
    border-style            : none    !important;
    font-size               : 14px;
    line-height             : inherit !important;
}

.warning
{
    display                 : inline-block;
    background-color        : #443322;
    color                   : #FFAA55;
    padding                 : 5px;
}

.tag-warning
{
    background-color        : #DD7733;
    color                   : #FFFFFF;
    padding                 : 2px;
    margin-right            : 5px;
    margin-bottom           : 5px;
}

.flags
{
    float                   : right;
}
.clearfix
{
    clear                   : both;
}

.method-description
{
    background-color        : #28282C;
    border-left-style       : solid;
    border-color            : #55555D;
    border-width            : 5px;
    padding                 : 0.25em;
    padding-left            : 1em;
}

.beta-feature
{
    display                 : inline-block;
    padding                 : 2px;
    background-color        : #995522;
}

.apidocs .item .description p, .apidocs .item pre.code
{
    margin-top              : 0.25em !important;
}
